@page
@model App.Areas.Admin.User.AddRoleModel

@{
    ViewData["Title"] = "Update role";
}
<h3>@ViewData["Title"]</h3>
<hr />
<div>
    <form method="post">
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.User.UserName)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.User.UserName)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.User.FullName)
            </dt>
            <dd class="col-sm-10">
                @if (string.IsNullOrEmpty(Model.User.FullName))
                {
                    <label class="text-danger">Not set yet</label>
                }
                else
                { 
                    @Model.User.FullName;
                }
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Roles)
            </dt>
            <dd class="col-sm-6">
                @Html.ListBoxFor(model => model.Roles, @Model.AllRoles, new {
                    id = "id-select-roles", @class = "w-100"})
            </dd>
        </dl>
        <a class="btn btn-outline-secondary" asp-page="./Index">@("< Back")</a>
        <input type="submit" value="Save" class="btn btn-primary mx-2" />
    </form>
    <hr>
    <div class="form-group my-2">
        <label asp-for="RoleClaims" class="control-label" style="font-weight: 500;"></label>
        @if (@Model.RoleClaims != null && @Model.RoleClaims.Count != 0)
        {
            @foreach (var c in @Model.RoleClaims)
            {
                <li class="m-1">@($"{c.ClaimType}: {c.ClaimValue}")</li>
            }
        }       
        else
        {
            <p class="text-danger m-2">No role claim</p>
        }
    </div>
    <div class="form-group my-2">
        <partial name="_StatusMessage" model="@Model.StatusMessage"/>
        <label asp-for="UserClaims" class="control-label" style="font-weight: 500;"></label>
        <a class="btn-sm btn-primary" asp-page="./CreateClaim" asp-route-userId="@Model.User.Id" style="text-decoration: none">+ Add claim</a>
        @if (@Model.UserClaims != null && @Model.UserClaims.Count != 0)
        {
            @foreach (var c in @Model.UserClaims)
            {
                <li class="m-3"><a asp-page="./EditClaim" asp-route-claimId="@c.Id" style="text-decoration: none;">@($"{c.ClaimType}: {c.ClaimValue}")</a></li>
            }
        }       
        else
        {
            <p class="text-danger m-2">No user claim</p>
        }
    </div>
</div>

@section Scripts {
    <script src="~/lib/multiple-select/multiple-select.min.js"></script>
    <link rel="stylesheet" href="~/lib/multiple-select/multiple-select.min.css">
    <script>
        $("#id-select-roles").multipleSelect({
            selectAll: true,
            keepOpen: false,
            isOpen: false,
            placeholder: "No role selected",
            formatSelectAll: function () {
                return '[All]';
            },
        })
    </script>
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
