@page "/Login"
@model LoginModel

@{
    ViewData["Title"] = "Log in";
    Layout = "/Pages/Shared/__Layout.cshtml";
}
<div class="row">
    <div class="col-md-8 d-flex align-items-center" style="padding: 50px 25px 0px 25px;">
        <img src="/images/login-banner.png" style="max-height: 100%; max-width: 100%"/>
    </div>
    <div class="col-md-4 col-md-offset-2"  style="padding-top: 25px;">
        <section>
            <form id="account" method="post">
                <h2 class="text-center my-4">Log in</h2>
                <div asp-validation-summary="ModelOnly" class="text-danger mx-0"></div>
                <div class="form-floating mt-4">
                    <input asp-for="Input.UserNameOrEmail" class="form-control" autocomplete="username" aria-required="true"/>
                    <label asp-for="Input.UserNameOrEmail" class="form-label"></label>
                    <span asp-validation-for="Input.UserNameOrEmail" class="text-danger"></span>
                </div>
                <div class="form-floating mt-4">
                    <input asp-for="Input.Password" class="form-control" autocomplete="current-password" aria-required="true" />
                    <label asp-for="Input.Password" class="form-label"></label>
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                <div class="d-flex align-items-center mt-2">
                    <div class="checkbox">
                        <label asp-for="Input.RememberMe" class="form-label" style="cursor: pointer">
                            <input class="form-check-input" asp-for="Input.RememberMe"/>
                            @Html.DisplayNameFor(m => m.Input.RememberMe)
                        </label>
                    </div>
                    <div style="margin-left: auto;">
                        <a id="forgot-password" asp-page="./ForgotPassword" style="text-decoration: none;">Forgot your password?</a>
                    </div>
                </div>
                <div>
                    <button id="login-submit" type="submit" class="w-100 btn btn-lg btn-primary my-1">Log in</button>
                </div>            
            </form>
            <div class="text-center">
                <p class="m-0">or</p>
            </div>
            <div>
                @if ((Model.ExternalLogins?.Count ?? 0) != 0)
                {
                    <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                        <div>
                            @foreach (var provider in Model.ExternalLogins)
                            {                  
                                <button type="submit" class="w-100 btn btn-lg btn-outline-dark my-1" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">
                                    <img src="/Images/google-logo.png" style="margin-bottom: 5px; max-width: 20px; max-height: 20px"> 
                                    Log in with @provider.DisplayName
                                </button>
                            }
                        </div>
                    </form>
                }
            </div>
            <div>
                <a asp-page="./Register" class="w-100 btn btn-lg btn-success my-1">Create a new account</a>
            </div>
            <div>
                <p>
                </p>
                @* <p>
                    <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl" style="text-decoration: none;">Register as a new user</a>
                </p> *@
                @* <p>
                    <a id="resend-confirmation" asp-page="./ResendEmailConfirmation" style="text-decoration: none;">Resend email confirmation</a>
                </p> *@
            </div>
        </section>
    </div>
</div>
@section Scripts {
    <partial name="_ValidationScriptsPartial"/>
}
